#output {
    // margin: auto;
    width: 50%;
    text-align: left;
    background: rgba(247, 245, 245, 0.973);
    overflow: scroll;
    height: 260px;
    border: 1px solid rgb(136, 131, 131);
    margin-top: 30px;
    padding: 30px;
    float: right;
    margin-right: 30px;
}