*{
    margin: 0;
    // padding: 0;
}
.header {
    font-family: 'Courier New', Courier, monospace;
    background-color: #363636;
    text-align: center;
    color: #fff;
    // margin-top: 0;
    padding: 15px;
    margin-bottom: 20px;
}