.history{
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  
span{
  display: inline-block;
}
    #method {
      font-weight: bold;
      // color: white;
      // margin-left: 40px;
      // padding: 10px;
      // background: rgb(37, 37, 153);
      padding: 5px;
      border: 1px solid rgb(40, 31, 119);
      border-radius: 3px;

    }
    // #url {
    //   // margin-left: 30px;
    //   // float: right;
    //   // cursor: pointer;
    // }
  
  }